<h1>Content One</h1>
<div class="row">
    <div class="col-md-3">
        <%= form_tag components_path do |f| %>
        <%= hidden_field_tag 'component_name', 'content_one' %>

        <%= fields_for :form_fields do |f| %>
        <% inputs = ['header', 'sub_header', 'counter_one_title', 'counter_one_value', 'counter_two_title', 
                     'counter_two_value', 'counter_three_title', 'counter_three_value']%>

        <% inputs.each do |i| %>
            <%= render partial: "components/form_input/#{i}", locals: { f: f } %>
        <% end %>

            
        <% end%>
            <%= render "components/form_input/submit" %>
        <% end %>   

    </div>
    <div class="col-md-8">
        <%= render partial: "contents_1", locals: { component: "content_one" } %>
    </div>
</div>


<h1>Content Two</h1>
<div class="row">
    <div class="col-md-3">
        <%= form_tag components_path do |f| %>
        <%= hidden_field_tag 'component_name', 'content_two' %>

        <%= fields_for :form_fields do |f| %>
        <% inputs = ['header', 'sub_header', 'feature_one', 'feature_two', 'feature_three', 'image'] %>

        <% inputs.each do |i| %>
            <%= render partial: "components/form_input/#{i}", locals: { f: f } %>
        <% end %>

            
        <% end%>
            <%= render "components/form_input/submit" %>
        <% end %>   

    </div>
    <div class="col-md-8">
        <%= render partial: "contents_2", locals: { component: "content_two" } %>
    </div>
</div>