<div class="details-contents">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="details-services-1">
          <div class="details-contents-header" id="details-services-one-sub-header">
            <%= get_content("#{component}.sub_header") %>
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 service top">
              <div class="card">
                <div class="card-body">
                  <h6 id="details-services-one-service-one-header">
                    <%= get_content("#{component}.service_one_header") %>
                  </h6>
                  <p id="details-services-one-service-one-content">
                    <%= get_content("#{component}.service_one_content") %>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 service top">
              <div class="card">
                <div class="card-body">
                  <h6 id="details-services-one-service-two-header">
                    <%= get_content("#{component}.service_two_header") %>
                  </h6>
                  <p id="details-services-one-service-two-content">
                    <%= get_content("#{component}.service_two_content") %>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 service top">
              <div class="card">
                <div class="card-body">
                  <h6 id="details-services-one-service-three-header">
                    <%= get_content("#{component}.service_three_header") %>
                  </h6>
                  <p id="details-services-one-service-three-content">
                    <%= get_content("#{component}.service_three_content") %>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 service top">
              <div class="card">
                <div class="card-body">
                  <h6 id="details-services-one-service-four-header">
                    <%= get_content("#{component}.service_four_header") %>
                  </h6>
                  <p id="details-services-one-service-four-content">
                    <%= get_content("#{component}.service_four_content") %>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 service top">
              <div class="card">
                <div class="card-body">
                  <h6 id="details-services-one-service-five-header">
                     <%= get_content("#{component}.service_five_header") %>
                  </h6>
                  <p id="details-services-one-service-five-content">
                    <%= get_content("#{component}.service_five_content") %>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 service top">
              <div class="card">
                <div class="card-body">
                  <h6 id="details-services-one-service-six-header">
                     <%= get_content("#{component}.service_six_header") %>
                  </h6>
                  <p id="details-services-one-service-six-content">
                    <%= get_content("#{component}.service_six_content") %>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 service top">
              <div class="card">
                <div class="card-body">
                  <h6 id="details-services-one-service-seven-header">
                     <%= get_content("#{component}.service_seven_header" ) %>
                  </h6>
                  <p id="details-services-one-service-seven-content">
                    <%= get_content("#{component}.service_seven_content") %>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 service">
              <div class="card">
                <div class="card-body">
                  <h6 id="details-services-one-service-eight-header">
                    <%= get_content("#{component}.service_eight_header") %>
                  </h6>
                  <p id="details-services-one-service-eight-content">
                    <%= get_content("#{component}.service_eight_content") %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
