<div class="details-contents">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="details-team-1">
          <div class="details-contents-header" id="details-team-one-sub-header">
            <%= get_content("#{component}.sub_header") %>
          </div>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 member top">
              <div class="card">
                <div class="card-body">
                  <i class="fa fa-user-circle-o member-ava" aria-hidden="true"></i>
                  <h6 id="details-team-one-team-one-header">
                    <%= get_content("#{component}.team_one_header") %>
                  </h6>
                  <p id="details-team-one-team-one-content">
                    <%= get_content("#{component}.team_one_content") %>
                  </p>
                  <% team_one_email = get_content("#{component}.team_one_content") %>
                  <a id="details-team-one-team-one-email" href="mailto:<%= team_one_email %>"><%= team_one_email %></a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 member top">
              <div class="card">
                <div class="card-body">
                  <i class="fa fa-user-circle-o member-ava" aria-hidden="true"></i>
                  <h6 id="details-team-one-team-two-header">
                    <%= get_content("#{component}.team_two_header") %>
                  </h6>
                  <p id="details-team-one-team-two-content">
                    <%= get_content("#{component}.team_two_content") %>
                  </p>
                  <% team_two_email = get_content("#{component}.team_two_email") %>
                  <a id="details-team-one-team-two-email" href="mailto:<%= team_two_email %>"><%= team_two_email %></a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 member top">
              <div class="card">
                <div class="card-body">
                  <i class="fa fa-user-circle-o member-ava" aria-hidden="true"></i>
                  <h6 id="details-team-one-team-three-header">
                    <%= get_content("#{component}.team_three_header") %>
                  </h6>
                  <p id="details-team-one-team-three-content">
                    <%= get_content("#{component}.team_three_content") %>
                  </p>
                  <% team_three_email = get_content("#{component}.team_three_email") %>
                  <a id="details-team-one-team-three-email" href="mailto:<%= team_three_email %>"><%= team_three_email %></a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 member top">
              <div class="card">
                <div class="card-body">
                  <i class="fa fa-user-circle-o member-ava" aria-hidden="true"></i>
                  <h6 id="details-team-one-team-four-header">
                    <%= get_content("#{component}.team_four_header") %>
                  </h6>
                  <p id="details-team-one-team-four-content">
                    <%= get_content("#{component}.team_four_content") %>
                  </p>
                  <% team_four_email = get_content("#{component}.team_four_email") %>
                  <a id="details-team-one-team-four-email" href="mailto:<%= team_four_email %>"><%= team_four_email %></a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 member top">
              <div class="card">
                <div class="card-body">
                  <i class="fa fa-user-circle-o member-ava" aria-hidden="true"></i>
                  <h6 id="details-team-one-team-five-header">
                     <%= get_content("#{component}.team_five_header") %>
                  </h6>
                  <p id="details-team-one-team-five-content">
                    <%= get_content("#{component}.team_five_content") %>
                  </p>
                  <% team_five_email = get_content("#{component}.team_five_email") %>
                  <a id="details-team-one-team-five-email" href="mailto:<%= team_five_email %>"><%= team_five_email %></a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 member top">
              <div class="card">
                <div class="card-body">
                  <i class="fa fa-user-circle-o member-ava" aria-hidden="true"></i>
                  <h6 id="details-team-one-team-six-header">
                     <%= get_content("#{component}.team_six_header") %>
                  </h6>
                  <p id="details-team-one-team-six-content">
                    <%= get_content("#{component}.team_six_content") %>
                  </p>
                  <% team_six_email = get_content("#{component}.team_six_email") %>
                  <a id="details-team-one-team-six-email" href="mailto:<%= team_six_email %>"><%= team_six_email %></a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 member top">
              <div class="card">
                <div class="card-body">
                  <i class="fa fa-user-circle-o member-ava" aria-hidden="true"></i>
                  <h6 id="details-team-one-team-seven-header">
                     <%= get_content("#{component}.team_seven_header") %>
                  </h6>
                  <p id="details-team-one-team-seven-content">
                    <%= get_content("#{component}.team_seven_content") %>
                  </p>
                  <% team_seven_email = get_content("#{component}.team_seven_email") %>
                  <a id="details-team-one-team-seven-email" href="mailto:<%= team_seven_email %>"><%= team_seven_email %></a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 member top">
              <div class="card">
                <div class="card-body">
                  <i class="fa fa-user-circle-o member-ava" aria-hidden="true"></i>
                  <h6 id="details-team-one-team-eight-header">
                    <%= get_content("#{component}.team_eight_header") %>
                  </h6>
                  <p id="details-team-one-team-eight-content">
                    <%= get_content("#{component}.team_eight_content") %>
                  </p>
                  <% team_eight_email = get_content("#{component}.team_eight_eight") %>
                  <a id="details-team-one-team-eight-email" href="mailto:<%= team_eight_email %>"><%= team_eight_email %></a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 member">
              <div class="card">
                <div class="card-body">
                  <i class="fa fa-user-circle-o member-ava" aria-hidden="true"></i>
                  <h6 id="details-team-one-team-nine-header">
                    <%= get_content("#{component}.team_nine_header") %>
                  </h6>
                  <p id="details-team-one-team-nine-content">
                    <%= get_content("#{component}.team_nine_content") %>
                  </p>
                  <% team_nine_email = get_content("#{component}.team_nine_email") %>
                  <a id="details-team-one-team-nine-email" href="mailto:<%= team_nine_email %>"><%= team_nine_email %></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
