<div class="footer footer-1">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="footer-1-content">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-12 footer-col">
              <%= image_tag "brand", class: "img-fluid" %>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 footer-col">
              <h6><%= titleize_string(get_content("#{component}.column_one_header")) %></h6>
              <p>
                <% get_content("#{component}.column_one_lists").split(",").each do |l| %>
                  <a href="#"><%= capitalize_string(l) %></a>
                <% end %>
              </p>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 footer-col">
              <h6><%= titleize_string(get_content("#{component}.column_two_header")) %></h6>
              <p>
                <% get_content("#{component}.column_two_lists").split(",").each do |l| %>
                  <a href="#"><%= capitalize_string(l) %></a>
                <% end %>
              </p>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 footer-col last">
              <h6><%= titleize_string(get_content("#{component}.column_three_header")) %></h6>
              <p>
                 <% get_content("#{component}.column_three_lists").split(",").each do |l| %>
                  <a href="#"><%= capitalize_string(l) %></a>
                <% end %>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="footer-1-additional">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 left">
        © <%= get_content("#{component}.year") %> <%= titleize_string(get_content("#{component}.company_name")) %>
      </div>
      <div class="col-xl-4 middle">
        <a href="#">Designed by Actualized8</a>
      </div>
      <div class="col-xl-4 right">
        <a href="#" class="mr-3">Privacy Terms</a>
        <a href="#">Terms of Use</a>
      </div>
    </div>
  </div>
</div>