<div class="footer footer-1">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="footer-1-content">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-12 footer-col">

              <% if get_content("#{component}.logo").blank? %>
                <h2 class="brand-text"><%= titleize_string(get_content("#{component}.logo_name")) %></h2>
              <% else %>
                <a href="#" class="text-decoration-none">
                  <%= image_tag get_content("#{component}.logo"), class: "img-fluid" %>
                </a>
              <% end %>

              <div class="row mt-3">
                <div class="col-xl-12 footer-info">
                  <p><%= get_content("#{component}.address") %></p>
                  <p>Email: <%= get_content("#{component}.email") %></p>
                  <p>Phone: <%= get_content("#{component}.phone") %></p>
                  <p class="mt-3">Store Hours</p>
                </div>
                <div class="col-xl-6 col-lg-6 col-4 footer-info">
                  <p>Mon - Fri</p>
                  <p>Saturday</p>
                  <p>Sunday</p>
                  <p>Holidays</p>
                </div>
                <div class="col-xl-6 col-lg-6 col-8 footer-info">
                  <p class="value"><%= get_content("#{component}.mon_to_fri").split(", ")[0] %>am - <%= get_content("#{component}.mon_to_fri").split(", ")[1] %>pm</p>
                  <p class="value"><%= get_content("#{component}.saturday").split(", ")[0] %>am - <%= get_content("#{component}.saturday").split(", ")[1] %>pm</p>
                  <p class="value"><%= get_content("#{component}.sunday").split(", ")[0] %>am - <%= get_content("#{component}.sunday").split(", ")[1] %>pm</p>
                  <p class="value"><%= get_content("#{component}.holiday").split(", ")[0] %>am - <%= get_content("#{component}.holiday").split(", ")[1] %>pm</p>
                </div>
              </div>

            </div>

            <div class="col-xl-3 col-lg-3 col-md-12 footer-col d-none d-xl-block d-lg-block">
              <h6><%= titleize_string(get_content("#{component}.column_one_header")) %></h6>
              <p>
                <% get_content("#{component}.column_one_lists").split(",").each do |l| %>
                  <a href="#"><%= capitalize_string(l) %></a>
                <% end %>
              </p>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 footer-col d-none d-xl-block d-lg-block">
              <h6><%= titleize_string(get_content("#{component}.column_two_header")) %></h6>
              <p>
                <% get_content("#{component}.column_two_lists").split(",").each do |l| %>
                  <a href="#"><%= capitalize_string(l) %></a>
                <% end %>
              </p>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 footer-col last">
              <h6><%= titleize_string(get_content("#{component}.column_three_header")) %></h6>
              <p>
                 <% get_content("#{component}.column_three_lists").split(",").each do |l| %>
                  <a href="#"><%= l %></a>
                <% end %>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="footer-1-additional">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 left">
        © <%= get_content("#{component}.year") %> <%= titleize_string(get_content("#{component}.company_name")) %>
      </div>
      <div class="col-xl-4 middle">
        <a href="https://www.actualize8.com/" target="_blank">Designed by Actualize8</a>
      </div>
      <div class="col-xl-4 right">
        <a href="#" class="mr-3">Privacy Terms</a>
        <a href="#">Terms of Use</a>
      </div>
    </div>
  </div>
</div>
