<div class="features features-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="features-5-content">
          <h2 id="services-five-header">
            <%= get_content("#{component}.header") %>
          </h2>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 feature top">
              <div class="card">
                <div class="card-body">
                  <h6 id="services-five-service-one-header">
                    <%= get_content("#{component}.service_one_header") %>
                  </h6>
                  <p id="services-five-service-one-content">
                    <%= get_content("#{component}.service_one_content") %>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 feature top">
              <div class="card">
                <div class="card-body">
                  <h6 id="services-five-service-two-header">
                    <%= get_content("#{component}.service_two_header") %>
                  </h6>
                  <p id="services-five-service-two-content">
                    <%= get_content("#{component}.service_two_content") %>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 feature last">
              <div class="card">
                <div class="card-body">
                  <h6 id="services-five-service-three-header">
                    <%= get_content("#{component}.service_three_header") %>
                  </h6>
                  <p id="services-five-service-three-content">
                    <%= get_content("#{component}.service_three_content") %>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 feature last">
              <div class="card">
                <div class="card-body">
                  <h6 id="services-five-service-four-header">
                    <%= get_content("#{component}.service_four_header") %>
                  </h6>
                  <p id="services-five-service-four-content">
                    <%= get_content("#{component}.service_four_content") %>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12 text-center mt-5 view-more">
            <a href="/services">
              <button type="button" class="btn btn-primary" id="services-five-cta"><%= get_content("#{component}.cta") %></button>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
