<div class="testimonials testimonials-3">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="testimonials-3-content text-left text-white">
          <h2><%= get_content("#{component}.header") %></h2>
          <h3>
            <%= get_content("#{component}.testimonial_one") %>
          </h3>
          <p>
            <strong><%= get_content("#{component}.testimonial_one_author") %></strong><br>
             <%= get_content("#{component}.testimonial_one_company") %>
          </p>
          <div>
            <%= image_tag "testi_ava2", class: "d-inline-block" %>
            <%= image_tag "testi_ava2", class: "d-inline-block" %>
            <%= image_tag "testi_ava2", class: "d-inline-block" %>
            <%= image_tag "testi_ava2", class: "d-inline-block" %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
