<div class="testimonials testimonials-2">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="testimonials-2-content">
          <h2>
            <%= get_content("#{component}.header") %>
          </h2>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 testi">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
              <p>
                <%= get_content("#{component}.testimonial_one") %>
              </p>
              <div class="d-flex align-items-center">
                <%= image_tag "testi_ava1" %>
                <div>
                  <h6><%= get_content("#{component}.testimonial_one_author") %></h6>
                  <%= get_content("#{component}.testimonial_one_company") %>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 testi last">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
              <p>
                <%= get_content("#{component}.testimonial_two") %>
              </p>
              <div class="d-flex align-items-center">
                <%= image_tag "testi_ava1" %>
                <div>
                  <h6><%= get_content("#{component}.testimonial_two_author") %></h6>
                  <%= get_content("#{component}.testimonial_two_company") %>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
