<h1>Hero one</h1>

<%= render partial: "hero_1", locals: { component: "hero_one" } %>

<%= form_tag components_path do |f| %>
        <%= hidden_field_tag 'component_name', 'hero_one' %>

    <%= fields_for :form_fields do |f| %>
        
        <%= f.label "header"  %>
        <%= f.text_field "header" %><Br>

        <%= f.label "sub_header"  %>
        <%= f.text_field "sub_header"  %><Br>

        <%= f.label "cta"  %>
        <%= f.text_field "cta"  %><Br>
        
        <%= f.label "background_image"  %>
        <%= f.file_field "background_image"  %><Br>
    <% end%>

    <%= submit_tag "create file" %>
    
<% end %>
