<div class="row">
    <div class="col-md-3">
        <%= form_tag components_path do |f| %>
        <%= hidden_field_tag 'component_name', 'content_two' %>

        <%= fields_for :form_fields do |f| %>
        <% inputs = ['header', 'sub_header', 'feature_one', 'feature_two', 'feature_three', 'image'] %>

        <% inputs.each do |i| %>
            <%= render partial: "components/form_input/#{i}", locals: { f: f, component: "content-two" } %>
        <% end %>

            
        <% end%>
            <%= render "components/form_input/submit" %>
        <% end %>   

    </div>
    <div class="col-md-8">
        <%= render partial: "components/contents_2", locals: { component: "content_two" } %>
    </div>
</div>