<div class="row">
    <div class="col-md-3">
        <%= form_tag components_path, :"data-controller" => "preview" do |f| %>
            <%= hidden_field_tag 'component_name', 'details_team_one' %>

        <%= fields_for :form_fields do |f| %>
        <% inputs = ['sub_header', 'team_x_nine'] %>

            <% inputs.each do |i| %>
                    <%= render partial: "components/form_input/#{i}", locals: { f: f, component: "details-team-one" } %>
            <% end %>
        <% end%>
            <%= render "components/form_input/submit" %>
        <% end %>

    </div>
    <div class="col-md-8">
        <% begin %>
            <%= render partial: "details_team_one", locals: { component: "details_team_one" } %>
        <% rescue %>
            <%= render partial: "components/details_team_one", locals: { component: "details_team_one" } %>
        <% end %>
    </div>
</div>