<div class="row">
    <div class="col-md-3">
        <%= form_tag components_path do |f| %>
            <%= hidden_field_tag 'component_name', 'hero_two' %>

            <%= fields_for :form_fields do |f| %>
                <% inputs = ['header', 'sub_header', 'cta', 'background_image']%>
                <% inputs.each do |i| %>
                    <%= render partial: "components/form_input/#{i}", locals: { f: f, component: "hero-two" } %>   
                <% end %>
            <% end%>
            <%= render "components/form_input/submit" %>
        <% end %>
    </div>
    <div class="col-md-8">
        <%= render partial: "components/hero_2", locals: { component: "hero_two" } %>
    </div>
</div>