<div class="row">
    <div class="col-md-3">
        <%= form_tag components_path do |f| %>
            <%= hidden_field_tag 'component_name', 'testimonial_three' %>

        <%= fields_for :form_fields do |f| %>
        <% inputs = ['header', 'author_image_one', 'testimonial_one', 'testimonial_one_author', 'testimonial_one_company'] %>

            <% inputs.each do |i| %>
                    <%= render partial: "components/form_input/#{i}", locals: { f: f, component: "testimonial-three" } %>
            <% end %>
        <% end%>
            <%= render "components/form_input/submit" %>
        <% end %>

    </div>
    <div class="col-md-8">
        <%= render partial: "testi_3", locals: { component: "testimonial_three" } %>
    </div>
</div>