<%# Law %>

<%#= render partial: "nav_2", locals: { component: "nav_two" } %>
<%#= render partial: "hero_2", locals: { component: "hero_two" } %>
<%#= render partial: "clients_1", locals: { component: "company_clients_one" } %>
<%#= render partial: "features_4", locals: { component: "services_four" } %>
<%#= render partial: "clients_2", locals: { component: "company_clients_two" } %>
<%#= render partial: "testi_3", locals: { component: "testimonial_three" } %>
<%#= render partial: "closing_1", locals: { component: "closing_cta_one" } %>
<%#= render partial: "footer_1", locals: { component: "footer_one" } %>

<%# Finance %>

<div class="container-fluid">
    <div class="row">
        <div class="offset-md-3 col-md-8">
            <%= render partial: "components/nav_1", locals: { component: "nav_one" } %>
        </div>
    </div>


    <%= render "layouts/form/hero_one" %>

    <%= render "layouts/form/content_one" %>

    <%= render "layouts/form/services_three" %>

    <%= render "layouts/form/closing_cta_two" %>

    <div class="row">
        <div class="offset-md-3">

        </div>
        <div class="col-md-8">
            <%= render partial: "components/footer_1", locals: { component: "footer_one" } %>
        </div>
    </div>


</div>

<%#= render partial: "components/nav_1", locals: { component: "nav_one" } %>
<%#= render partial: "components/hero_1", locals: { component: "hero_one" } %>
<%#= render partial: "components/contents_1", locals: { component: "content_one" } %>


<%#= render partial: "components/closing_2", locals: { component: "closing_cta_two" } %>
<%#= render partial: "components/footer_1", locals: { component: "footer_one" } %>

<%# Trades %>
<%#= render "nav_3" %>
<%#= render partial: "hero_1", locals: { component: "hero_one" } %>
<%#= render "clients_3" %>
<%#= render partial: "contents_2", locals: { component: "content_two" } %>
<%#= render "features_4" %>
<%#= render partial: "testi_1", locals: { component: "testimonial_one" } %>
<%#= render partial: "closing_2", locals: { component: "closing_cta_two" } %>




