<%# Law %>

<%#= render partial: "nav_2", locals: { component: "nav_two" } %>
<%#= render partial: "hero_2", locals: { component: "hero_two" } %>
<%#= render partial: "clients_1", locals: { component: "company_clients_one" } %>
<%#= render partial: "features_4", locals: { component: "services_four" } %>
<%#= render partial: "clients_2", locals: { component: "company_clients_two" } %>
<%#= render partial: "testi_3", locals: { component: "testimonial_three" } %>
<%#= render partial: "closing_1", locals: { component: "closing_cta_one" } %>
<%#= render partial: "footer_1", locals: { component: "footer_one" } %>

<%# Finance %>

<div class="container-fluid">
    <div class="row">
        <div class="offset-md-3">

        </div>
        <div class="col-md-8">
            <%= render partial: "components/nav_1", locals: { component: "nav_one" } %>
        </div>
    </div>


 <div class="row">
    <div class="col-md-3">

    <%= form_tag "#", :"data-controller" => "preview" do %>
        <%= label_tag "Header" %>
        <%= text_area_tag "Header", nil, { id: "hero-header-input", :"data-target" => "preview.name", :"data-action" => "keyup->preview#update", class: "form-control" } %>
        
        <%= label_tag "sub_header" %>
        <%= text_area_tag "sub_header", nil, { id: "hero-subheader-input", :"data-target" => "preview.name", :"data-action" => "keyup->preview#update", class: "form-control" } %>

        <%= label_tag "cta" %>
        <%= text_field_tag "cta", nil, { id: "hero-cta-input", :"data-target" => "preview.name", :"data-action" => "keyup->preview#update", class: "form-control" } %>
    <% end %>
    

    </div>
    <div class="col-md-8">
        <%= render partial: "components/hero_1", locals: { component: "hero_one" } %>    
    </div>
    
 </div>

 <div class="row">
    <div class="col-md-3">
        <%= form_tag "#", :"data-controller" => "preview" do %>
        <%= label_tag "test" %>
        <%= text_area_tag "test", nil, { id: "hero-header-input", :"data-target" => "preview.name", :"data-action" => "keyup->preview#update", class: "form-control" } %>
        
        <%= label_tag "sub_header" %>
        <%= text_area_tag "sub_header", nil, { id: "hero-subheader-input", :"data-target" => "preview.name", :"data-action" => "keyup->preview#update", class: "form-control" } %>

        <%= label_tag "counter_one_title" %>
        <%= text_field_tag "counter_one_title", nil, { id: "hero-cta-input", :"data-target" => "preview.name", :"data-action" => "keyup->preview#update", class: "form-control" } %>

        <%= label_tag "counter_one_value" %>
        <%= text_field_tag "counter_one_value", nil, { id: "hero-cta-input", :"data-target" => "preview.name", :"data-action" => "keyup->preview#update", class: "form-control" } %>

        <%= label_tag "counter_two_title" %>
        <%= text_field_tag "counter_two_title", nil, { id: "hero-cta-input", :"data-target" => "preview.name", :"data-action" => "keyup->preview#update", class: "form-control" } %>

        <%= label_tag "counter_two_value" %>
        <%= text_field_tag "counter_two_value", nil, { id: "hero-cta-input", :"data-target" => "preview.name", :"data-action" => "keyup->preview#update", class: "form-control" } %>

        <%= label_tag "counter_three_title" %>
        <%= text_field_tag "counter_two_title", nil, { id: "hero-cta-input", :"data-target" => "preview.name", :"data-action" => "keyup->preview#update", class: "form-control" } %>

        <%= label_tag "counter_three_value" %>
        <%= text_field_tag "counter_two_value", nil, { id: "hero-cta-input", :"data-target" => "preview.name", :"data-action" => "keyup->preview#update", class: "form-control" } %>
        <% end %>
    </div>
    <div class="col-md-8">
        <%= render partial: "components/contents_1", locals: { component: "content_one" } %>
    </div>
 </div>

 <div class="row">
    <div class="col-md-3">
        <%= form_tag "#", :"data-controller" => "preview" do %>
        <%= label_tag "test" %>
        <%= text_area_tag "test", nil, { id: "hero-header-input", :"data-target" => "preview.name", :"data-action" => "keyup->preview#update", class: "form-control" } %>
        
        <%= label_tag "sub_header" %>
        <%= text_area_tag "sub_header", nil, { id: "hero-subheader-input", :"data-target" => "preview.name", :"data-action" => "keyup->preview#update", class: "form-control" } %>

        <%= label_tag "cta" %>
        <%= text_field_tag "cta", nil, { id: "hero-cta-input", :"data-target" => "preview.name", :"data-action" => "keyup->preview#update", class: "form-control" } %>
        <% end %>
    </div>
    <div class="col-md-8">
        <%= render partial: "components/features_3", locals: { component: "services_three" } %>
    </div>
</div>

 <div class="row">
    <div class="col-md-3">
        <%= form_tag "#", :"data-controller" => "preview" do %>
        <%= label_tag "test" %>
        <%= text_area_tag "test", nil, { id: "hero-header-input", :"data-target" => "preview.name", :"data-action" => "keyup->preview#update", class: "form-control" } %>
        
        <%= label_tag "sub_header" %>
        <%= text_area_tag "sub_header", nil, { id: "hero-subheader-input", :"data-target" => "preview.name", :"data-action" => "keyup->preview#update", class: "form-control" } %>

        <%= label_tag "cta" %>
        <%= text_field_tag "cta", nil, { id: "hero-cta-input", :"data-target" => "preview.name", :"data-action" => "keyup->preview#update", class: "form-control" } %>
        <% end %>
    </div>
    <div class="col-md-8">
        <%= render partial: "components/closing_2", locals: { component: "closing_cta_two" } %>
    </div>
</div>

 <div class="row">
    <div class="col-md-3">
        <%= form_tag "#", :"data-controller" => "preview" do %>
        <%= label_tag "test" %>
        <%= text_area_tag "test", nil, { id: "hero-header-input", :"data-target" => "preview.name", :"data-action" => "keyup->preview#update", class: "form-control" } %>
        
        <%= label_tag "sub_header" %>
        <%= text_area_tag "sub_header", nil, { id: "hero-subheader-input", :"data-target" => "preview.name", :"data-action" => "keyup->preview#update", class: "form-control" } %>

        <%= label_tag "cta" %>
        <%= text_field_tag "cta", nil, { id: "hero-cta-input", :"data-target" => "preview.name", :"data-action" => "keyup->preview#update", class: "form-control" } %>
        <% end %>
    </div>
    <div class="col-md-8">
        <%= render partial: "components/footer_1", locals: { component: "footer_one" } %>
    </div>
</div>












</div>

<%#= render partial: "components/nav_1", locals: { component: "nav_one" } %>
<%#= render partial: "components/hero_1", locals: { component: "hero_one" } %>
<%#= render partial: "components/contents_1", locals: { component: "content_one" } %>


<%#= render partial: "components/closing_2", locals: { component: "closing_cta_two" } %>
<%#= render partial: "components/footer_1", locals: { component: "footer_one" } %>

<%# Trades %>
<%#= render "nav_3" %>
<%#= render partial: "hero_1", locals: { component: "hero_one" } %>
<%#= render "clients_3" %>
<%#= render partial: "contents_2", locals: { component: "content_two" } %>
<%#= render "features_4" %>
<%#= render partial: "testi_1", locals: { component: "testimonial_one" } %>
<%#= render partial: "closing_2", locals: { component: "closing_cta_two" } %>




