<%= render partial: "components/nav_five", locals: { component: "nav_five" } %>
<%# New Component %>
<%= render "static/page_header_one" %>
<%= render "layouts/form/details_services_one" %>
<%= render "layouts/form/closing_cta_two" %>


    <div class="row">
        <div class="offset-md-3">

        </div>
        <div class="col-md-8">
            <%= render partial: "components/footer_1", locals: { component: "footer_one" } %>
        </div>
    </div>