<div class="clients clients-1">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="clients-1-content">
          <h6>Our Clients</h6>
          <div class="row d-flex align-items-center">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-12
            offset-xl-1 offset-lg-1 offset-md-1 offset-sm-1 text-center">
              <%= image_tag "company1", class: "img-fluid" %>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
              <%= image_tag "company2", class: "img-fluid" %>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
              <%= image_tag "company3", class: "img-fluid" %>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
              <%= image_tag "company4", class: "img-fluid" %>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
              <%= image_tag "company5", class: "img-fluid last-client" %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
