<div class="clients">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="clients-1-content">
          <h5>Our Clients</h5>
          <div class="row d-flex align-items-center">
            <div class="col-xl-2 offset-xl-1 text-center">
              <%= image_tag "company1" %>
            </div>
            <div class="col-xl-2 text-center">
              <%= image_tag "company2" %>
            </div>
            <div class="col-xl-2 text-center">
              <%= image_tag "company3" %>
            </div>
            <div class="col-xl-2 text-center">
              <%= image_tag "company4" %>
            </div>
            <div class="col-xl-2 text-center">
              <%= image_tag "company5" %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
