<div class="clients clients-2">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="clients-2-content">
          <h2><%= get_content("#{component}.header") %></h2>
          <p>
             <%= get_content("#{component}.sub_header") %>
          </p>
          <div class="row d-flex align-items-center">
            <div class="col-xl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-12
            offset-xl-1 offset-lg-1 offset-md-1 offset-sm-1 text-center">
               <%#= image_tag get_content("#{component}.logo_one") %>
              <%= image_tag "company_color1", class: "img-fluid client" %>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
              <%#= image_tag get_content("#{component}.logo_two") %>
              <%= image_tag "company_color2", class: "img-fluid client" %>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
               <%#= image_tag get_content("#{component}.logo_three") %>
              <%= image_tag "company_color3", class: "img-fluid client" %>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
              <%#= image_tag get_content("#{component}.logo_four") %>
              <%= image_tag "company_color4", class: "img-fluid client" %>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
              <%#= image_tag get_content("#{component}.logo_five") %>
              <%= image_tag "company_color5", class: "img-fluid last-client" %>
            </div>
          </div>
          <a href="#">
            <button type="button" class="btn btn-primary client-cta"><%= get_content("#{component}.cta") %></button>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
