<div class="container">
  <div class="row">
    <div class="col-xl-12">

      <!-- Navigation -->
      <p>Navigation 1</p>
      <%= render "nav_1" %>

      <p class="mt-5">Navigation 2</p>
      <%= render "nav_2" %>

      <!-- Hero -->
      <p class="mt-5">Hero 1</p>
      <%= render "hero_1" %>

      <p class="mt-5">Hero 2</p>
      <%= render "hero_2" %>

      <!-- Clients -->
      <p class="mt-5">Clients 1</p>
      <%= render "clients_1" %>

      <p class="mt-5">Clients 2</p>
      <%= render "clients_2" %>

      <!-- Contents -->
      <p class="mt-5">Contents 1</p>
      <%= render "contents_1" %>

      <p class="mt-5">Contents 2</p>
      <%= render "contents_2" %>

      <!-- Features -->
      <p class="mt-5">Features 1</p>
      <%= render "features_1" %>

      <p class="mt-5">Features 2</p>
      <%= render "features_2" %>

      <p class="mt-5">Features 3</p>
      <%= render "features_3" %>

      <p class="mt-5">Features 4</p>
      <%= render "features_4" %>

      <!-- Testimonials -->
      <p class="mt-5">Testimonial 1</p>
      <%= render "testi_1" %>

      <p class="mt-5">Testimonial 2</p>
      <%= render "testi_2" %>

      <p class="mt-5">Testimonial 3</p>
      <%= render "testi_3" %>

      <!-- Closing CTA -->
      <p class="mt-5">Closing CTA 1</p>
      <%= render "closing_1" %>

      <p class="mt-5">Closing CTA 2</p>
      <%= render "closing_2" %>

      <!-- Footer -->
      <p class="mt-5">Footer 1</p>
      <%= render "footer_1" %>

      <p class="mt-5">Footer 2</p>
      <%= render "footer_2" %>

    </div>
  </div>
</div>
